{% include "base.html" %}

<body>

{% block topnav %}{% endblock %}

{% block header %}
    <div class="header">
      <h1>Peer-2-Peer</h1>
      {% if user.is_authenticated %}
          <p>Hi {{ user.first_name }}, Welcome to Peer-2-Peer!</p>
      {% else %}
          <p>You are not logged in!</p>
      {% endif %}
    </div>
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="column">
              <h2>About</h2>
              <p>Maybe list all courses available here...</p>
            </div>
            
            <div class="column">
              <h2>Column</h2>
              <p>Maybe display if there are new messages here, and link to inbox if so...</p>
            </div>
            
            <div class="column">
              <h2>Column</h2>
              <p>Maybe list all the newest members here...</p>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="column side">
              <h2>Classes</h2>
              <p>
                <marquee width="40%" direction="up" height="30%">
                  <p>Object Oriented Programming</p>
                  <p>Java</p>
                  <p>Physics</p>
                  <p>Software Engineering</p>
                  <p>Chemistry</p>
                  <p>Network Security</p>
                </marquee>
              </p>
            </div>
            <div class="column middle">
              <h2>Why We Are Here</h2>
              <p>In modern day academia, students are often found in desperate need of help in certain subjects.  Even with the help of TA/professor office hours, this sometimes is simply not enough.  On the flip side, some students may be found in a financial struggle when in university and have trouble coming across any jobs that can match their busy schedules.  Our motivation is to help solve both of these issues.  Our project Peer-2-Peer is an online tutoring platform “for students by students”. Our mission aims to create a more simplistic and idealistic platform for students of all universities.</p>
            </div>
            <div class="column side">
                <h2>Schools</h2>
                <p>
                  <marquee width="40%" direction="up" height="30%">
                    <p>New York University</p>
                    <p>Tufts College</p>
                    <p>Columbia University</p>
                    <p>The New School</p>
                    <p>Northeastern Univerity</p>
                    <p>Swarthmore College</p>
                </marquee>
                </p>
            </div>
        </div>
    {% endif %}
  {% endblock %}


  {% block footer %}
      {% if user.is_authenticated %}
      {% else %}
          <div class="footer">
              <h3>Take Control of Your Academics</h3>
              <p>One step closer to that A!!!</p>
          </div>
      {% endif %}
  {% endblock %}

</body>
