{% include "base.html" %}

</head>
<body>
	{% block topnav %}{% endblock %}
	
	{% block header %}
		<div class="header">
		  <h1>Register</h1>
		  <form method="POST" action="">
				{% csrf_token %}
				{% for field in form %}
				<p>
					{{ field.label_tag }}<br>
					{{ field }}
					{% for error in field.errors %}
						</p><p style="color: red">{{ error }}</p>
					{% endfor %}
				<p></p>
				{% endfor %}
				<!--- <button type="submit">Sign up</button> --->
				<input type="submit" value="Create Account"  />
			</form>
		</div>
	{% endblock %}
	
</body>
</html>
	
	<!---was between {{ field }} and { for error in field.errors %} IF added in put endif in {} with % afer --> 

	<!--- add a % { if field.help_text %}-->
	
	<!---small style="color: green">{{ field.help_text }}</small-->

