{% extends "my_base.html" %}


{% block header %}
<div class="header">
    <h1>View Message"</h1>
</div>
{% endblock %}

{% block content %}
<dl class="message-headers">
    <dt>Subject</dt>
    <dd><strong>{{ message.subject }}</strong></dd>
    <dt>Sender</dt>
    <dd>{{ message.sender }}</dd>
    <dt>Date </dt>
    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd>
    <dt>Recipient</dt>
    <dd>{{ message.recipient }}</dd>
</dl>
{{ message.body|linebreaksbr }}<br /><br />

{% ifequal message.recipient.pk user.pk %}
<a href="{% url 'messages_reply' message.id %}">Reply</a>
{% endifequal %}
<a href="{% url 'messages_delete' message.id %}">Delete</a>

{% comment %}Example reply_form integration
{% if reply_form %}
<h1>Compose reply</h1>
<form action="{% url 'messages_reply' message.id %}" method="post">
{% csrf_token %}
<table>
{{ reply_form.as_table }}
</table>
<input type="submit" value="Send"/>
</form>
{% endif %}
{% endcomment %}
{% endblock %}